

.App {
  text-align: center;
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo-large {
  height: 150vmin;
  pointer-events: none;
  z-index: 0;
  margin-left: -1500px;
  margin-top: -800px;
}
.App-logo-large-right {
  height: 150vmin;
  pointer-events: none;
  z-index: -1;
  margin-left: -550px;
  margin-top: -185px;
}
.App-logo-medium {
  height: 25vmin;
  pointer-events: none;
  z-index: 0;
  margin-left: -150px;
  margin-top: -80px;
}
.AbsoBack{
  position: absolute;
  align-content: left;
  height: 40vmin;
  width: 40vmin;
}
.sepia-grey-tint-box {
  position:absolute;
}
.sepia-grey-tint {
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  fill-color: #32325d;

}
.bg-greyish-transparent {
  background-color: rgba(0,0,0,0.1);
}
.marge {
  margin-top: 20px;
}
.nega-marge {
  margin-top: -50px;
}
.marge-large {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 10px;
}
.pic-opacity {
  opacity: 0.8;
}
.pic-opacity:hover {
  opacity: 1;
}
.marge-large:hover {
  opacity: 1;
}
.match-height {
  height: 150px;
  margin: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-large {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-large-right {
    animation: Right-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-medium {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: rgba(200,200,200,0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.no-overflow {
  overflow: hidden;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Right-logo-spin {
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(-335deg);
  }
}
